.currency {
  &__title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #2496f0;

    .item {
      flex: 1;
      width: 90px;
      padding: 10px;
      text-align: center;
      background-color: transparent;
      color: #67b1e9;
      cursor: pointer;
      font-weight: bold;
      &.active {
        color: #ffffff;
        background-color: #2496f0;
      }
      &:not(.active):hover {
        background-color: #f2fbff;
      }
    }
    .item:last-child {
      border-right: none;
    }
  }
}
